.custom-modal {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1050; 
    background-color:  #9D2D1A;;
    color: white;
    text-align: center;
    padding: 80px;
    border-radius: 5px;
  }
  
  
  .list {
    list-style: none;
  }