.stage {
  height: 600px;
  margin: 60px auto;
  padding: 0 20px;
  background-image: url("../../../public/pictures/picture4.png");
  background-color: #efefef;
  border-radius: 5px;
  position: relative;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.Stage_page_container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.stage__mistakes {
  text-align: center;
  margin-bottom: 40px;
  color: #9d2d1a;
}

.stage__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.stage__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stage__buttons button {
  padding: 20px 30px;
  margin: 40px;
  background-color: #efefef;
  color: #9d2d1a;
  border: 5px solid #9d2d1a;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Poppins;
}

.stage__buttons:hover button:hover {
  background-color: white;
  color: #9d2d1a;
}

.stage__timeLeft.paused {
  color: #9d2d1a;
  font-weight: bold;
}

.stage__timeLeft {
  text-align: center;
  margin-bottom: 20px;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background-color: #9d2d1a;
  color: white;
  text-align: center;
  padding: 80px;
  border-radius: 5px;
}

.list {
  list-style: none;
}
